/*The page transitions in, to make it more alive.*/
body{
    animation: transitionIn 3s;
}

@keyframes transitionIn{
    from{opacity: 0;
        transform: rotateX(-10deg)}

    to{opacity: 1;
    transform: rotateX(0);}
}


html, body{
    color: white;
    background-color: #0C3957;
  	margin: 0 auto;
  	padding: 0;
  	height: 100%;
  	width: 100%;
  	overflow-x: hidden;
    
}

/*The news bar which cover the whole width, runs news from Gotham on infinite*/

nav {
  position: relative;
  width: 100%;
  background-color: black;
  padding: 10px;
  margin-left: 6px; 
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}
  
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }

  
.news-container{
    width: 100%;
    overflow: hidden;
  }

  
.news-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: black;
  }
  
.news-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
  }

  
@media only screen and (max-width: 768px) {
  .ticker-move { animation-duration: 20s; }
}
  
.news-move:hover{
    animation-play-state: paused;
  }
  
.news-item{
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    color: #39F816;
    padding-right: 5px;
}
/*This is the breaking news with red borders.*/
span{

	border: 2px solid red;
	padding: 2px 3px 2px 3px;
	color:red;
}
 /*The main container*/

h1{
	  font-size: 40px;
	  position: absolute;
  	left: 10px;
  	margin-top:2px;
  	opacity: 0.5;
    letter-spacing:1px; 	
}

.batman-container{
    width: 1000px;
    height: 585px;
    border: 5px black inset;
    margin: 5px 0px 0px 5px;
    position: relative;
}
/*Don't change Batman's width from here. It has already been done in html.
Batman fades in here. */
.batman-container #bat-hero{

  animation: fadein 3s;
  position: absolute;
  top: 0;
  right: 0;
  margin: 165px 10px; 
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*The Joker bio and the Joker image. When you hover on the joker, the text bio appears.*/

.batman-container #joker{
  position: absolute;
  top: 0;
  right: 0;
  margin: 150px 800px;
  cursor: pointer;
  z-index: 2;
}

.joker-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 154px 0px 0px 140px;
    cursor: pointer;
    width: 0px;
    opacity: 0;
}


#joker:hover ~ .joker-container{
  opacity: 1;
}

.joker-bio{
  position: absolute;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #6f016e;
  height: 80px;
  width:400px;
  padding: 8px 8px 12px 70px;
}


/*The Riddler bio and the riddler image. When you hover on the riddler, the text bio appears*/

.batman-container #riddler{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 290px;
  margin-left: 160px;
  cursor: pointer;
  z-index: 2;
}




.riddler-container{
  position: absolute;
  top: 0;
  left: 0;
  margin: 285px 0px 0px 220px;
  cursor: pointer;
  width: 0px;
  opacity: 0;
}

#riddler:hover ~ .riddler-container{
  opacity: 1;
}


.riddler-bio{
  position: absolute;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #2C7606;
  height: 80px;
  width:400px;
  padding: 8px 8px 15px 70px;
}

/* Mr.Freeze bio and the Mr.freeze image. When you hover on mr. freeze, the text bio appears*/

.batman-container #freeze{
  position: absolute;
  top: 435px;
  left: 250px;
  float: left;
  cursor: pointer;
  z-index: 2;
}

.freeze-container{
  position: absolute;
  top: 0;
  left: 0;
  margin: 430px 0px 0px 310px;
  cursor: pointer;
  width: 0px;
  opacity: 0;
}


#freeze:hover ~ .freeze-container{
  opacity: 1;
}

.freeze-bio{
  position: absolute;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #013F86;
  height: 80px;
  width:400px;
  padding: 7px 8px 12px 55px;
}
/*This text bubble appears after Batman. Giver instruction to user on how to interact with page.*/
.batman-container .bubble{
  position: absolute;
  top: 0;
  right: 0; 
  margin: 50px 370px;
  animation: 3s ease 0s normal forwards  easein;
  
}

@keyframes easein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.text{
      position: absolute;
      letter-spacing: 1px;
      font-size: 14px;
      background-color: #161619;
      height: 100px;
      width:200px;
      padding: 10px 15px 5px 15px;
      border-radius: 25px;
}
    
/*The user can return to Bat cave by clicking on the bat-logo. When you hover, the background changes. */


.batman-container .mini-logo{
    position: absolute;
    top: 0;
    right: 0;
    
}
.mini-logo a{
  background-color: transparent;
  color: white;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}
a:hover, a:active {
    background-color: red;
    border: none;
}



